// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-font-family:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;

  --ion-color-primary: #141414;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-muted: #959595;
  --ion-color-primary-shade: #7E7E7E;


  --ion-color-secondary: #F1FBF9;
  --ion-color-secondary-rgb: 192, 96, 20;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a95412;
  --ion-color-secondary-tint: #c6702c;

  --ion-color-tertiary: #dd9a57;
  --ion-color-tertiary-rgb: 221, 154, 87;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c2884d;
  --ion-color-tertiary-tint: #e0a468;

  --ion-color-success: #22b692;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #439a46;
  --ion-color-success-tint: #F1FBF9;

  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0aa06;
  --ion-color-warning-tint: #ffc720;

  --ion-color-danger: #f44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d73b30;
  --ion-color-danger-tint: #f5564a;

  --ion-color-light: #f6f1ec;
  --ion-color-light-rgb: 246, 241, 236;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d4d0;
  --ion-color-light-tint: #f7f2ee;

  --ion-color-medium: #9e9e9e;
  --ion-color-medium-rgb: 158, 158, 158;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8b8b8b;
  --ion-color-medium-tint: #a8a8a8;

  --ion-color-dark: #3e2723;
  --ion-color-dark-rgb: 62, 39, 35;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #37221f;
  --ion-color-dark-tint: #513d39;

  /* Text Color */
  --ion-color-muted: #959595;

  /* Font Sizes */
  --font-size-xsmall: 0.625rem; /* 10x */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-medium: 0.875rem; /* 14px */
  --font-size-subtitle: 1.125rem; /* 18px */
  --font-size-title: 1.375rem; /* 22px */
  --font-size-large: 1.75rem; /* 28px */
  --font-size-x-large: 1.4rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Badge */
  --badge-min-width: 80px;
  --badge-radius: 4px;
  --badge-padding-y: 6px;
  --badge-padding-x: 10px;
  --badge-font-size: 12px;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
